[package]
name = "replay_parser"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
boxcars.workspace = true
tracing.workspace = true

[dev-dependencies]
tracing-subscriber.workspace = true
