[package]
name = "feature_extractor"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
replay_parser.workspace = true
anyhow.workspace = true

